[submodule "ultrasound_ws/Ultrasound-ROS2-WS"]
	path = leader/ros_ws_leader/src
	url = git@github.com:Hydran00/Ultrasound-leader-ros2.git
[submodule "gui"]
	path = leader/gui
	url = git@github.com:Hydran00/Ultrasound-Gui.git
[submodule "haption_ws"]
	path = leader/haption_ws
	url = git@github.com:idra-lab/haptic_interface_ROS2.git
[submodule "unity_project"]
	path = unity_project
	url = git@github.com:Hydran00/Ultrasound-Unity.git
[submodule "src"]
	path = follower/robot_setup
	url = git@github.com:Hydran00/Ultrasound-Setup.git
[submodule "follower/Ultrasound-follower-ros2"]
	path = follower/ros_ws_follower/src
	url = git@github.com:Hydran00/Ultrasound-follower-ros2.git
